<h1>Hello World</h1>
<!-- <a routerLink="user">User</a>
<br><br>
<a routerLink="admin">Admin</a>
<br><br>
<a routerLink="about">404</a>
<router-outlet></router-outlet> -->

<h1>Normal Heading</h1>
<!-- <h1 appCustomStyle>Custom Heading</h1>
<h1>{{name}}</h1> -->

<table border='1'>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>User Id</td>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.userId}}</td>
    </tr>
</table>